In [1]:
import pandas as pd
import pyreadr as pyreadr
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV

In [2]:
df = pyreadr.read_r('dataset.Rdata')['data']

In [3]:
df

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_TOTAL
0,1,Cash loans,M,N,Y,0,12.218500,12.915581,10.114619,12.768544,...,0,0,0,0,0,0,0,0,0,7.0
1,0,Cash loans,F,N,N,0,12.506181,14.072865,10.482892,13.937287,...,0,0,0,0,0,0,0,0,0,6.0
2,0,Revolving loans,M,Y,Y,0,11.119898,11.813037,8.817446,11.813037,...,0,0,0,0,0,0,0,0,0,6.0
3,0,Cash loans,F,N,Y,0,11.813037,12.652947,10.298481,12.601491,...,0,0,0,0,0,0,0,0,0,0.0
4,0,Cash loans,M,N,Y,0,11.707678,13.148033,9.992711,13.148033,...,0,0,0,0,0,0,0,0,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213165,0,Cash loans,M,Y,Y,0,12.729324,13.422469,10.304376,13.422469,...,0,0,0,0,0,0,0,0,0,8.0
213166,0,Cash loans,F,Y,Y,0,11.589896,12.616409,9.829437,12.382129,...,0,0,0,0,0,0,0,0,0,8.0
213167,0,Revolving loans,F,N,Y,0,11.744045,12.100718,9.105091,12.100718,...,0,0,0,0,0,0,0,0,0,7.0
213168,1,Cash loans,F,Y,Y,0,11.669938,13.292209,10.485913,13.017005,...,0,0,0,0,0,0,0,0,0,6.0
213169,0,Cash loans,M,Y,Y,0,11.407576,10.714440,8.582606,10.714440,...,0,0,0,0,0,0,0,0,0,10.0

In [4]:
df.drop(columns=['WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START'],inplace=True)

In [5]:
lista = df['OCCUPATION_TYPE'].unique().to_list()
for x in ['NaN', 'Drivers', 'Laborers', 'Sales staff']:
    lista.remove(x)

df.replace(to_replace = lista, value='BASE_OCC', inplace=True)

In [6]:
lista = df['ORGANIZATION_TYPE'].unique().to_list()
for x in ['XNA', 'Business Entity Type 3', 'Self-employed']:
    lista.remove(x)

df.replace(to_replace = lista, value='BASE_ORG', inplace=True)

lista_variabili_numeriche = ['CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'EXT_SOURCE_2', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_TOTAL']
lista_variabili_categoriche = ['OWN_CAR_AGE', 'OCCUPATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_TYPE_SUITE', 'NAME_HOUSING_TYPE', 'ORGANIZATION_TYPE', 'NAME_EDUCATION_TYPE']
lista_variabili_da_tenere = ['TARGET'] + lista_variabili_categoriche + lista_variabili_numeriche

df = df.loc[:, lista_variabili_da_tenere]

In [7]:
lista_variabili_numeriche = ['CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'EXT_SOURCE_2', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_TOTAL']
lista_variabili_categoriche = ['OWN_CAR_AGE', 'OCCUPATION_TYPE', 'NAME_FAMILY_STATUS']
lista_variabili_da_tenere = ['TARGET'] + lista_variabili_categoriche + lista_variabili_numeriche

df = df.loc[:, lista_variabili_da_tenere]

In [8]:
df

,TARGET,OWN_CAR_AGE,OCCUPATION_TYPE,NAME_FAMILY_STATUS,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,EXT_SOURCE_2,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_TOTAL
0,1,NaN,Laborers,Single / not married,0,12.218500,12.915581,10.114619,12.768544,0.018801,...,1,2,2,0.262949,2,2,2,2,3.150000,7.0
1,0,NaN,BASE_OCC,Married,0,12.506181,14.072865,10.482892,13.937287,0.003541,...,2,1,1,0.622246,1,0,1,0,2.300000,6.0
2,0,25-30,Laborers,Single / not married,0,11.119898,11.813037,8.817446,11.813037,0.010032,...,1,2,2,0.555912,0,0,0,0,2.263889,6.0
3,0,NaN,Laborers,Civil marriage,0,11.813037,12.652947,10.298481,12.601491,0.008019,...,2,2,2,0.650442,2,0,2,0,1.713889,0.0
4,0,NaN,BASE_OCC,Single / not married,0,11.707678,13.148033,9.992711,13.148033,0.028663,...,1,2,2,0.322738,0,0,0,0,3.072222,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213165,0,10-15,Laborers,Civil marriage,0,12.729324,13.422469,10.304376,13.422469,0.035792,...,2,2,2,0.551357,4,0,4,0,5.308333,8.0
213166,0,10-15,BASE_OCC,Civil marriage,0,11.589896,12.616409,9.829437,12.382129,0.010147,...,2,2,2,0.650223,0,0,0,0,0.869444,8.0
213167,0,NaN,Laborers,Single / not married,0,11.744045,12.100718,9.105091,12.100718,0.072508,...,1,1,1,0.708067,0,0,0,0,0.491667,7.0
213168,1,0-5,Sales staff,Married,0,11.669938,13.292209,10.485913,13.017005,0.018029,...,2,3,3,0.530192,0,0,0,0,1.125000,6.0
213169,0,15-20,Sales staff,Civil marriage,0,11.407576,10.714440,8.582606,10.714440,0.010500,...,2,3,3,0.217095,7,0,7,0,1.583333,10.0

In [9]:
for col_name in lista_variabili_categoriche:
    aux = pd.get_dummies(df[col_name], col_name)
    aux.drop(columns=aux.columns[0], inplace=True)
    df = pd.concat([df, aux], axis=1)
    df.drop(columns=col_name, inplace=True)

In [10]:
for col in df.columns:
    if (len(df[col].unique()) == 2):
        df[col] = df[col].to_numpy().astype(np.int32)
    else:
        df[col] = df[col].to_numpy().astype(np.float32)

In [11]:
df

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,OWN_CAR_AGE_>=30,OWN_CAR_AGE_NaN,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_NaN,OCCUPATION_TYPE_Sales staff,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Widow
0,1,0.0,12.218500,12.915582,10.114619,12.768544,0.018801,26.280556,1.769444,10.133333,...,0,1,0,1,0,0,0,0,1,0
1,0,0.0,12.506181,14.072865,10.482892,13.937286,0.003541,46.569443,3.300000,3.294445,...,0,1,0,0,0,0,1,0,0,0
2,0,0.0,11.119898,11.813038,8.817446,11.813038,0.010032,52.905556,0.625000,11.833333,...,0,0,0,1,0,0,0,0,1,0
3,0,0.0,11.813038,12.652946,10.298481,12.601491,0.008019,52.791668,8.441667,27.313889,...,0,1,0,1,0,0,0,0,0,0
4,0,0.0,11.707678,13.148033,9.992711,13.148033,0.028663,55.366665,8.438889,11.975000,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213165,0,0.0,12.729323,13.422469,10.304376,13.422469,0.035792,41.891666,21.900000,21.350000,...,0,0,0,1,0,0,0,0,0,0
213166,0,0.0,11.589896,12.616409,9.829437,12.382129,0.010147,46.291668,1.055556,6.577778,...,0,0,0,0,0,0,0,0,0,0
213167,0,0.0,11.744045,12.100718,9.105091,12.100718,0.072508,23.100000,1.819444,22.877777,...,0,1,0,1,0,0,0,0,1,0
213168,1,0.0,11.669938,13.292209,10.485912,13.017005,0.018029,37.452778,1.519444,20.936111,...,0,0,0,0,0,1,1,0,0,0
213169,0,0.0,11.407576,10.714440,8.582606,10.714440,0.010500,23.227777,1.975000,8.950000,...,0,0,0,0,0,1,0,0,0,0

In [12]:
dizionario_trasformazioni = {}
for col in lista_variabili_numeriche:
    dizionario_trasformazioni[col] = {'media': np.mean(df[col]), 'std': np.std(df[col])}
    df[col] = (df[col] - dizionario_trasformazioni[col]['media'])/(dizionario_trasformazioni[col]['std'])
dizionario_trasformazioni

{'CNT_CHILDREN': {'media': 0.41746962, 'std': 0.723598},
 'AMT_INCOME_TOTAL': {'media': 11.908099, 'std': 0.48854136},
 'AMT_CREDIT': {'media': 13.071732, 'std': 0.7156223},
 'AMT_ANNUITY': {'media': 10.06991, 'std': 0.5453805},
 'AMT_GOODS_PRICE': {'media': 12.961148, 'std': 0.71614766},
 'REGION_POPULATION_RELATIVE': {'media': 0.020841109, 'std': 0.01380913},
 'DAYS_BIRTH': {'media': 44.55752, 'std': 12.131691},
 'DAYS_EMPLOYED': {'media': -177.36671, 'std': 392.5155},
 'DAYS_REGISTRATION': {'media': 13.848905, 'std': 9.7866125},
 'DAYS_ID_PUBLISH': {'media': 8.317871, 'std': 4.1966066},
 'CNT_FAM_MEMBERS': {'media': 2.1541867, 'std': 0.9118954},
 'REGION_RATING_CLIENT': {'media': 2.0538208, 'std': 0.50909775},
 'REGION_RATING_CLIENT_W_CITY': {'media': 2.0327814, 'std': 0.50265944},
 'EXT_SOURCE_2': {'media': 0.5137712, 'std': 0.1914215},
 'OBS_30_CNT_SOCIAL_CIRCLE': {'media': 1.4246001, 'std': 2.4365308},
 'DEF_30_CNT_SOCIAL_CIRCLE': {'media': 0.1439696, 'std': 0.44914776},
 'OBS_60_CNT_SOCIAL_CIRCLE': {'media': 1.4077591, 'std': 2.4151275},
 'DEF_60_CNT_SOCIAL_CIRCLE': {'media': 0.10011727, 'std': 0.36301357},
 'DAYS_LAST_PHONE_CHANGE': {'media': 2.6788974, 'std': 2.2964432},
 'AMT_REQ_CREDIT_BUREAU_TOTAL': {'media': 7.335216, 'std': 3.5619688}}

In [13]:
def compute_elastic_net(df):
    regr = LogisticRegressionCV(penalty='elasticnet' , l1_ratios=np.linspace(0.01,0.99,20), solver='saga', max_iter=10000)
    regr.fit(df.loc[:, df.columns != 'TARGET'].to_numpy(), df['TARGET'].to_numpy())
    return regr



def compute_bootstrap_elastic_net(df, B):
    da_ritornare = []
    for i in range(B):
        aux = df[df['TARGET']==1]
        df_aux_1 = aux.iloc[np.random.choice(aux.shape[0],10000,replace=False),:]
        aux = df[df['TARGET']==0]
        df_aux_0 = aux.iloc[np.random.choice(aux.shape[0],40000,replace=False),:]        
        df_bootstrap = pd.concat([df_aux_1, df_aux_0])
        df_bootstrap = df_bootstrap.sample(frac=1)
        da_ritornare.append(compute_elastic_net(df_bootstrap))
    return da_ritornare



def RENBOOT_pre(df, B):
    aux = compute_bootstrap_elastic_net(df, B)
    dizionario = {'intercette' : [], 'coefficienti' : [], 'l1_ratio' : [], 'C' : []}
    for reg in aux:
        dizionario['intercette'].append(reg.intercept_)
        dizionario['coefficienti'].append(reg.coef_.flatten())
        dizionario['l1_ratio'].append(reg.l1_ratio_.flatten())
        dizionario['C'].append(reg.C_.flatten())
            
    dizionario['intercette'] = np.array(dizionario['intercette']).flatten()
    dizionario['coefficienti'] = np.array(dizionario['coefficienti'])
    dizionario['l1_ratio'] = np.array(dizionario['l1_ratio']).flatten()
    dizionario['C'] = np.array(dizionario['C']).flatten()

    return dizionario

In [14]:
aux = RENBOOT_pre(df, 10)

In [15]:
np.savez('saved_results.npz', intercette=aux['intercette'], coefficienti=aux['coefficienti'], l1_ratio=aux['l1_ratio'], C=aux['C'])

In [16]:
aux

{'intercette': array([-1.85643406, -1.75920855, -1.70883864, -1.80873945, -1.70945151,
        -1.83199221, -1.63011341, -1.74302681, -1.82915522, -1.72941781]),
 'coefficienti': array([[-2.22538069e-02, -1.13516699e-02,  1.29967643e+00,
          2.12357581e-01, -1.41212809e+00,  2.09898261e-02,
         -1.72041101e-01,  8.23703167e-03, -5.99277291e-02,
         -9.43889562e-02,  2.13554998e-02, -8.92302750e-02,
          1.75858066e-01, -4.56002973e-01,  1.69405536e-01,
          6.23354550e-02, -1.71242183e-01,  3.44403411e-02,
         -6.86528213e-02, -2.97208900e-02,  1.45525243e-01,
          1.72144729e-01,  4.23616586e-01,  4.11809868e-01,
         -7.25759259e-03,  2.95438592e-01,  3.49816954e-01,
          4.60846091e-01,  3.13086665e-01,  4.13487965e-02,
          4.36452562e-02, -1.49203868e-01,  5.19482449e-02,
         -1.74729898e-02, -1.24901135e-01],
        [-6.96043970e-02, -1.01291425e-02,  1.10600635e+00,
          1.89843092e-01, -1.19340193e+00, -7.82993772e-03,
         -1.73352147e-01, -2.71008014e-03, -6.55272693e-02,
         -7.92021861e-02,  9.68754521e-02, -1.15461013e-01,
          1.82115669e-01, -4.41829461e-01,  2.17747228e-02,
          6.24837277e-02, -2.58561482e-02,  4.21445615e-02,
         -7.30730083e-02, -1.63870736e-02,  1.25159121e-01,
          1.44140149e-01,  3.30327537e-01,  3.50542174e-01,
         -7.23756818e-02,  3.02899652e-01,  2.83881077e-01,
          5.32970551e-01,  3.18350820e-01,  1.58364537e-02,
          1.48929843e-01, -2.24704234e-01,  0.00000000e+00,
         -2.25652501e-02, -6.67431870e-02],
        [ 0.00000000e+00,  0.00000000e+00,  1.08409363e+00,
          1.64671378e-01, -1.18178680e+00,  1.78907058e-02,
         -1.64137600e-01,  1.84869707e-02, -3.80974936e-02,
         -1.00682411e-01,  1.16846854e-02, -4.96175113e-03,
          9.97205662e-02, -4.41594401e-01,  8.60997418e-03,
          6.31364871e-02,  0.00000000e+00,  2.93760738e-02,
         -7.94288055e-02, -2.09978774e-02,  0.00000000e+00,
          2.92309950e-02,  4.11058554e-02,  0.00000000e+00,
         -1.46367427e-01,  0.00000000e+00,  1.94056705e-01,
          3.73886759e-01,  2.75115448e-01,  0.00000000e+00,
          9.33746492e-02, -1.01157023e-01,  2.19144383e-03,
          0.00000000e+00,  0.00000000e+00],
        [-1.27392092e-02,  6.94925619e-03,  1.12811476e+00,
          1.82872213e-01, -1.22647306e+00,  1.54616977e-02,
         -1.52201247e-01,  3.89237367e-02, -5.41194876e-02,
         -9.13611142e-02,  3.09944515e-02, -1.29469311e-01,
          2.00866065e-01, -4.43371328e-01,  2.71740107e-02,
          7.07221967e-02, -2.11780646e-02,  2.95188258e-02,
         -7.06657243e-02, -2.60475150e-02,  1.11127651e-01,
          2.05790575e-01,  3.86995114e-01,  3.11082608e-01,
         -6.50511915e-02,  3.08137776e-01,  3.31581545e-01,
          4.72083806e-01,  2.87225352e-01,  7.22290871e-02,
          1.17532335e-01, -1.90926891e-01,  2.26698303e-02,
         -2.67636903e-02, -1.38166164e-01],
        [-1.63223835e-02,  3.39377047e-03,  9.40175857e-01,
          1.82402833e-01, -1.05307319e+00,  2.03963728e-02,
         -1.86504016e-01,  0.00000000e+00, -4.79925292e-02,
         -8.94791549e-02,  2.69996222e-02, -6.07846883e-02,
          1.45938677e-01, -4.46015077e-01,  1.02165509e-02,
          5.36001786e-02,  0.00000000e+00,  3.36501116e-02,
         -6.83914621e-02, -7.39223609e-03,  0.00000000e+00,
          8.06520113e-02,  3.01946025e-01,  3.52580698e-02,
         -1.03759461e-01,  7.23446279e-02,  2.36155542e-01,
          4.46690138e-01,  2.77231387e-01,  1.77411939e-02,
          1.26851141e-01, -1.75617522e-01,  0.00000000e+00,
         -9.23025552e-03, -1.03495292e-01],
        [-2.87710169e-02, -9.10771194e-03,  1.24014683e+00,
          1.94493069e-01, -1.33579081e+00,  1.56030554e-02,
         -1.60264770e-01,  2.12769177e-02, -5.17890244e-02,
         -8.59752397e-02,  3.66973244e-02, -7.07463422e-02,
          1.41664344e-01, -4.43975432e-01,  5.95898063e-02,
          5.59730735e-02, -3.02676486e-02,  3.38536628e-02,
         -6.18439782e-02, -2.38677579e-02,  1.34393195e-01,
          1.75079856e-01,  3.82127889e-01,  3.61588002e-01,
         -2.63671078e-02,  3.44510125e-01,  3.51943441e-01,
          4.68523543e-01,  3.23053512e-01,  1.06982290e-02,
          1.33233641e-01, -1.78223722e-01,  1.33188367e-02,
         -1.28486088e-02, -8.06911183e-02],
        [ 0.00000000e+00,  0.00000000e+00,  1.06424703e+00,
          2.03221471e-01, -1.18123603e+00,  5.59210716e-03,
         -1.60009921e-01, -9.42352196e-03, -4.33960356e-02,
         -1.09832519e-01,  9.50470110e-03, -3.95293169e-02,
          1.11673607e-01, -4.40646164e-01,  8.73092030e-03,
          7.36183931e-02,  1.23772145e-09,  3.35186487e-02,
         -8.40434637e-02, -2.19957472e-02,  0.00000000e+00,
          0.00000000e+00,  1.80464576e-01,  0.00000000e+00,
         -2.75297067e-01,  6.30650594e-02,  1.42790250e-01,
          4.31173974e-01,  2.83750843e-01,  0.00000000e+00,
          1.80794657e-01, -1.71386397e-01, -2.25937850e-02,
          0.00000000e+00, -1.21720168e-01],
        [-1.34014771e-02, -1.74347041e-02,  1.14217721e+00,
          1.89858290e-01, -1.25331168e+00,  1.67365014e-02,
         -1.42831127e-01,  2.63856625e-02, -6.66887687e-02,
         -9.18558718e-02,  2.63447826e-02, -9.83008724e-02,
          1.78090425e-01, -4.47091490e-01,  1.80327931e-01,
          4.87095571e-02, -1.59390960e-01,  3.30323393e-02,
         -7.46678743e-02, -1.62847123e-02,  6.08196266e-02,
          1.26177611e-01,  2.17240692e-01,  2.78501787e-01,
         -7.77453437e-02,  1.87155514e-01,  2.50566562e-01,
          5.01666017e-01,  2.94781168e-01,  4.30753303e-02,
          1.18426845e-01, -1.90547552e-01, -2.75477387e-02,
          4.08212996e-02, -1.37594894e-01],
        [-2.82424249e-02,  1.52620524e-02,  1.27471118e+00,
          1.74044149e-01, -1.36579837e+00,  2.57941870e-03,
         -1.67619342e-01,  1.22859757e-02, -4.08489287e-02,
         -1.02249559e-01,  4.18858740e-02, -7.25092250e-02,
          1.53742023e-01, -4.49641876e-01, -2.24678672e-02,
          7.97278267e-02,  1.66594135e-02,  2.82409552e-02,
         -8.41707517e-02, -1.89647302e-02,  1.73090332e-01,
          1.67971405e-01,  4.42277468e-01,  2.15806178e-01,
         -7.36358544e-02,  3.25118211e-01,  3.44428121e-01,
          4.19232073e-01,  2.86221322e-01, -2.22029053e-03,
          1.17029088e-01, -1.58810410e-01, -1.32486726e-02,
          0.00000000e+00, -1.61162538e-01],
        [-1.46023668e-02,  1.75204447e-03,  1.01021914e+00,
          1.72975108e-01, -1.10375830e+00,  8.16739447e-03,
         -1.65243937e-01,  6.14347828e-03, -4.00493106e-02,
         -9.56069570e-02,  2.75063478e-02, -7.46262256e-02,
          1.59508961e-01, -4.53584259e-01,  0.00000000e+00,
          2.35852072e-02, -1.67257875e-02,  6.79376946e-02,
         -7.15481241e-02, -3.31518593e-02,  7.87260434e-02,
          9.67788835e-02,  1.85700252e-01,  4.69327763e-02,
         -9.86807711e-02,  1.82425261e-01,  2.48652019e-01,
          4.90592533e-01,  3.10375706e-01,  3.26232305e-02,
          1.19845629e-01, -1.79888203e-01,  3.10050582e-02,
         -4.02912085e-02, -1.37288028e-01]]),
 'l1_ratio': array([0.06157895, 0.11315789, 0.99      , 0.16473684, 0.37105263,
        0.01      , 0.57736842, 0.11315789, 0.52578947, 0.21631579]),
 'C': array([ 0.35938137,  0.35938137,  0.04641589, 21.5443469 ,  0.04641589,
         2.7825594 ,  0.04641589,  0.35938137,  2.7825594 ,  0.04641589])}

In [21]:
print(np.mean(aux['l1_ratio']))
print(np.power(10,np.mean(np.log10(aux['C']))))

0.3143157894736842
0.35938136638046264